:root {
  --harmony-1: hsl(240, 54%, 55%);
  --harmony-2: hsl(270, 54%, 55%);
  --harmony-3: hsl(300, 54%, 55%);
  --harmony-4: hsl(330, 54%, 55%);
  --harmony-5: hsl(0, 54%, 55%);
  --harmony-6: hsl(30, 54%, 55%);
  --harmony-7: hsl(60, 54%, 55%);
  --harmony-8: hsl(90, 54%, 55%);
  --harmony-9: hsl(120, 54%, 55%);
  --harmony-10: hsl(150, 54%, 55%);
  --harmony-11: hsl(180, 54%, 55%);
  --harmony-12: hsl(210, 54%, 55%);
}
